.Typewriter,
.typewrite {
  display: inline-block;
}
.typewrite {
  margin-left: 10px;
}
.dark-mode .dark-white {
  color: white !important;
}
.dark-mode-logo {
  display: none;
}
.dark .dark-mode-logo {
  display: block;
}
.light-mode-logo {
  display: block;
}
.dark .light-mode-logo {
  display: none;
}
@media (min-width: 1025px) {
  .mn-has-sub:hover + *,
  .mn-has-sub + *:hover {
    display: block !important;
    z-index: 1;
  }
}

.fadeInText {
  animation: animationFadeText 0.5s linear 0s 1;
}
@keyframes animationFadeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dark-mode .svg-shape {
  filter: invert(1) brightness(2); /* Inverts the colors and increases brightness */
}
.dark-mode .svg-dark {
  filter: invert(1) brightness(2); /* Inverts the colors and increases brightness */
}
.dark-mode .image-filter {
  filter: invert(1) brightness(2); /* Inverts the colors and increases brightness */
}
html {
  scroll-behavior: initial !important;
}
a {
  cursor: pointer;
}
.mobile-on .desktop-nav {
  height: fit-content;
  max-height: 0px;
  display: block !important;
  overflow: scroll;
  transition: 0.6s;
}

@media (min-width: 1025px) {
  .mobile-on .mn-sub {
    display: none;
  }
}
@media (max-width: 1024px) {
  .mobile-on .js-opened .mn-sub.mobile-sub-active {
    max-height: 1000px;
  }
}
.dark-mode .form .form-tip-2 {
  color: var(--color-dark-mode-gray-1);
  background-color: var(--color-dark-2) !important;
}
.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus {
  background: none !important;
  color: #fff !important;
}
@media (max-width: 500px) {
  .team-carousel .owl-prev.owl-prev-testimonial-1 {
    left: 21px;
  }
}

.mn-sub {
  transition: max-height 0.3s ease-in-out;
}

.mn-sub.open {
  max-height: 200px;
  overflow: auto !important;
  opacity: 1 !important;
}
html {
  scroll-behavior: smooth !important;
}

/* Custom styles for the timeline */

.timeline-container {
  position: relative;
  width: max-content;
  margin: auto;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--color-secondary-1);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
}

.timeline-date-col {
  position: relative;
  display: flex;
  align-items: center;
}

.timeline-date {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-date::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary-1);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-date::after {
  right: -25px;
}
.timeline-item:nth-child(odd) .timeline-date-col {
  justify-content: end;
}

.timeline-item:nth-child(even) .timeline-date::after {
  left: -25px;
}

.date-badge {
  display: inline-block;
  background-color: var(--color-secondary-1);
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
}

.destination-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.timeline-content video {
  border-radius: 4px;
}

.destination-info p,
.destination-info .btn,
.destination-info h2 {
  opacity: 1;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  font-size: clamp(13px, 2vw, 16px);
  margin-bottom: 0;
}

.destination-info h2 {
  font-size: clamp(13px, 2vw, 20px);
  font-weight: 600;
  margin-bottom: 0.5em;
}

.timeline-content:hover .destination-info p,
.timeline-content:hover .destination-info .btn,
.timeline-content:hover .destination-info h2 {
  opacity: 0;
}

@media (max-width: 990px) {
  .timeline-container {
    width: 100%;
  }
  .timeline-container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  .destination-info {
    max-height: -webkit-fill-available;
  }
}

@media (max-width: 769px) {
  .timeline-container::before {
    left: 20px;
  }

  .destination-info h2 {
    display: inline-block;
    font-size: larger;
  }

  .timeline-date-col {
    justify-content: start !important;
    margin-left: 36px;
  }

  .timeline-content {
    margin-left: 40px;
  }

  .timeline-content img {
    height: auto;
  }

  .timeline-item:nth-child(even) .timeline-date::after,
  .timeline-item:nth-child(odd) .timeline-date::after {
    left: -25px;
  }
}
